---
const { variant = "default" } = Astro.props;
---

<p
  class={`
    text-lg 
    ${variant === "default" ? "text-zinc-200" : ""}
    ${variant === "muted" ? "text-zinc-400" : ""}
    ${variant === "highlight" ? "text-zinc-100 font-medium" : ""}
  `}
>
  <slot />
</p>
