---
import IconNav from "./IconNav.astro";
import HeroImage from "./HeroImage.astro";
import Section from "../../shared/Section.astro";
---

<HeroImage>
  <Section name="hero" showHeading={false}>
    <h1>BRAD MEYN</h1>
    <p class="subtitle">Pretty. Good.</p>
    <p class="intro">
      I build high quality websites and applications with modern technologies.
    </p>
    <IconNav />
    <a href="#projects" class="btn btn--landing">
      <span>Projects</span>
      <i class="fas fa-arrow-right"></i>
    </a>
  </Section>
</HeroImage>

<style>
  h1 {
    margin-top: 10rem;
    font-size: 6rem;
    font-weight: 500;
    animation: fadeDown 0.6s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0.5s;
    display: block;
    color: var(--secondary);
  }

  h1::before {
    position: absolute;
    content: "BRAD MEYN";
    color: #fff;
    left: 0.4rem;
    top: 0.3rem;
  }

  .subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--primary-lightest);
    animation: fadeRight 0.6s ease-in-out;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 1s;
  }

  .intro {
    font-size: var(--fs-md);
    font-weight: 300;
    max-width: 40rem;
    color: var(--primary-light);
    animation: fadeRight 0.6s ease-in-out;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 1.2s;
    margin-bottom: 2rem;
  }

  .btn {
    border-radius: 50px;
    text-align: center;
    font-family: var(--font-primary);
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    padding: 0.7rem 2rem;
    transition: background 0.7s ease-in-out;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  .btn:hover .fa-arrow-right {
    transform: rotate(90deg);
  }

  .btn--landing {
    animation: fadeUp 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
    position: relative;
    font-size: var(--hs-sm);
    background-color: var(--secondary);
    color: #ffffff;
    background-size: 200% auto;
    background-image: var(--gradient-secondary);
  }

  .fa-arrow-right {
    position: relative;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
    font-size: 4rem;
  }

  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 9rem;
    }

    .subtitle {
      font-size: 3rem;
    }
  }
</style>
