---
import IconNav from "./IconNav.astro";
import HeroImage from "./HeroImage.astro";
import Section from "../../shared/Section.astro";
---

<HeroImage>
  <Section name="hero" showHeading={false}>
    <h1>BRAD MEYN</h1>
    <p class="subtitle">Software Developer</p>
    <p class="intro">
      I build high quality, great looking websites and applications using modern
      technology.
    </p>
    <IconNav />
    <a href="#projects" class="btn">
      <span>Projects</span>
      <i class="fas fa-arrow-right icon"></i>
    </a>
  </Section>
</HeroImage>

<style>
  h1 {
    margin-top: 10rem;
    margin-bottom: var(--sp-xs);
    font-size: 3.5rem;
    font-weight: 500;
    animation: fadeDown 0.6s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0.5s;
    display: block;
    color: var(--secondary);
  }

  h1::before {
    position: absolute;
    content: "BRAD MEYN";
    color: #fff;
    left: 0.25rem;
    top: 0.25rem;
  }

  .subtitle {
    font-size: var(--fs-lg);
    font-weight: 300;
    margin-bottom: var(--sp-sm);
    color: var(--primary-lightest);
    animation: fadeRight 0.6s ease-in-out;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 1s;
  }

  .intro {
    animation: fadeRight 0.6s ease-in-out;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 1.2s;
    max-width: 22rem;
  }

  .btn {
    color: #ffffff;
    background-image: var(--gradient-secondary);
    background-size: 200% auto;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.6rem 1.3rem;
    gap: var(--sp-sm);
    align-items: center;
    width: fit-content;

    transition: background 0.5s ease-in-out;
    display: flex;

    animation: fadeUp 0.5s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
  }

  .btn:hover {
    background-position: right;
    color: #fff;
    text-decoration: none;
  }

  .btn:hover .icon {
    transform: rotate(90deg);
  }

  .icon {
    position: relative;
    font-size: var(--fs-md);
    transition: transform 0.2s ease-in-out;
  }

  /* @media only screen and (min-width: 768px) {
    h1 {
      font-size: 9rem;
    }

    .subtitle {
      font-size: 3rem;
    }
  } */
</style>
