---
import { externalLinks } from "../../../data/links";
---

<nav>
  <ul>
    {
      externalLinks.map((link) => (
        <li>
          <a href={link.url} target="_blank" rel="noopener noreferrer">
            <i class={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    margin-bottom: var(--sp-xl);
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--sp-md);
  }

  li {
    animation: fadeDown 1s;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 1.4s;
    list-style: none;
    text-align: center;
  }

  a {
    font-size: var(--fs-lg);
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-light);
    text-align: center;
  }

  li:nth-child(2) {
    animation-delay: 1.6s;
  }

  li:nth-child(3) {
    animation-delay: 1.8s;
  }

  li:nth-child(4) {
    animation-delay: 2s;
  }

  a:hover {
    color: var(--secondary);
  }
</style>
