---
import BaseLayout from "../../components/layouts/BaseLayout.astro";
import Article from "../../components/Article.astro";
import { getCollection } from "astro:content";
const articles = await getCollection("articles");

// Get all unique tags
const tags = [...new Set(articles.flatMap((article) => article.data.tags))];
---

<BaseLayout>
  <div class="container mt-10 py-2">
    <main>
      <h1
        class="text-white text-3xl font-bold mb-6 animate-[fadeDown_0.6s_ease-in-out_forwards] opacity-0"
      >
        Articles
      </h1>
      <ul class="text-white space-y-4">
        {
          articles.map((article) => (
            <li data-tags={article.data.tags.join(",")}>
              <Article article={article} />
            </li>
          ))
        }
      </ul>
      <p class="text-zinc-400 hidden" id="no-articles">
        No articles found for this tag.
      </p>
    </main>
  </div>
</BaseLayout>
