---
import PageLayout from "@/components/common/page-layout.astro";
import { getCollection } from "astro:content";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageLayout>
  <main class="py-4 container">
    <a
      href={"/posts"}
      class="flex w-fit items-center gap-3 text-ui-400 hover:text-primary-700 transition-all duration-300 group py-3"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="transform transition-all duration-300 group-hover:text-primary-700 size-5"
      >
        <path d="M19 12H5"></path>
        <path d="m12 19-7-7 7-7"></path>
      </svg>
      <span class="font-medium">Posts</span>
    </a>
    <div class="mb-6">
      <h1 class="title mb-10">
        {entry.data.title}
      </h1>
      <time
        datetime={entry.data.date.toISOString()}
        class="block mb-2 text-ui-500"
      >
        {
          new Date(entry.data.date).toLocaleDateString("en-US", {
            month: "short",
            day: "numeric",
            year: "numeric",
          })
        }
      </time>
    </div>
    <Content />
  </main>
</PageLayout>
