---
import PageLayout from "@/components/layouts/page-layout.astro";
import { getCollection } from "astro:content";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageLayout>
  <main class="py-4 container">
    <a
      class="mb-4 block text-ui-500 transition-colors duration-300 hover:text-accent"
      href="/posts"
    >
      <i class="fa-solid fa-arrow-left"></i>
    </a>
    <div class="mb-6">
      <h1 class="text-4xl decoration-accent underline-offset-8 mb-2 underline">
        {entry.data.title}
      </h1>
      <time
        datetime={entry.data.date.toISOString()}
        class="block mb-2 text-ui-500"
      >
        {
          new Date(entry.data.date).toLocaleDateString("en-US", {
            month: "short",
            day: "numeric",
            year: "numeric",
          })
        }
      </time>
    </div>
    <Content />
  </main>
</PageLayout>
