---
import PageLayout from "@/components/common/page-layout.astro";
import Post from "@/components/post-card.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<PageLayout>
  <div class="container py-2">
    <main>
      <h1 class="title animate-fade-down opacity-0 mb-10">
        If a blog falls in the woods and no one reads it, does it make a sound?
      </h1>
      <ul
        class="text-white space-y-4 animate-[fadeDown_0.6s_ease-in-out_forwards_0.5s] opacity-0"
      >
        {posts.map((post) => <Post {post} />)}
      </ul>
    </main>
  </div>
</PageLayout>
