---
import PageLayout from "@/components/common/page-layout.astro";
import Post from "@/components/post-card.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<PageLayout>
  <main class="container">
    <section class="flex items-center justify-center text-center">
      <div class="flex gap-6 sm:gap-8 lg:gap-10 flex-col max-w-4xl mx-auto">
        <!-- Introduction and Main Heading -->
        <div class="space-y-6 sm:space-y-8">
          <h1 class="space-y-2 sm:space-y-4 max-w-xl mx-auto">
            <span
              class="bg-gradient-to-r font-serif font-light animate-fade-down [animation-delay:0.2s] opacity-0 from-rose-400 to-orange-400 bg-clip-text text-transparent text-lg sm:text-xl lg:text-3xl block"
            >
              Posts
            </span>
            <span
              class="title block animate-fade-down opacity-0 [animation-delay:0.4s] [animation-fill-mode:forwards]"
            >
              Explore my latest articles on software development & more.
            </span>
          </h1>
        </div>
      </div>
    </section>

    <section class="py-20 animate-fade-down [animation-delay:0.8s] opacity-0">
      <div class="space-y-4 md:space-y-6 max-w-4xl mx-auto">
        {posts.map((post) => <Post post={post} />)}
      </div>
    </section>
  </main>
</PageLayout>
