<div>
  <slot />
</div>

<style>
  div {
    margin: 0 auto;
    max-width: 80rem;
    width: 100%;
    padding: 0 1.5rem;
  }

  /* DESKTOP */
  @media (min-width: 768px) {
    div {
      padding: 0 4rem;
    }
  }
</style>
