---
interface Props {
  showHeading?: boolean;
  name: string;
}
import Container from "./Container.astro";
const { name, showHeading = false } = Astro.props;
const captialised = name.charAt(0).toUpperCase() + name.slice(1);
---

<section id={name}>
  <Container>
    <slot />
  </Container>
</section>

<style>
  section {
    padding: 2.5rem 0;
    height: 100%;
  }
</style>
