---
const today = new Date();
import Container from "../shared/Container.astro";
import { externalLinks } from "../../data/links";
---

<footer>
  <Container>
    <div class="footer__content animated--fade-in">
      <p class="footer__copyright">
        &#x24B8; Copyright {today.getFullYear()} Brad Meyn. All rights reserved.
      </p>

      <nav>
        <ul>
          {
            externalLinks.map((link) => (
              <li>
                <a href={link.url} target="_blank" rel="noopener noreferrer">
                  <i class={link.icon} />
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </Container>
</footer>

<style>
  footer {
    padding: 2rem 0;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--sp-md);
  }

  .footer__copyright {
    color: var(--primary-light);
    font-size: var(--fs-xs);
    order: 2;
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--sp-md);
  }

  li {
    list-style: none;
    text-align: center;
  }

  a {
    font-size: var(--fs-lg);
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-light);
    text-align: center;
  }

  a:hover {
    color: var(--secondary);
  }

  @media (min-width: 768px) {
    .footer__content {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
</style>
