---
import TechIcons from "../TechIcons.astro";
import Section from "../shared/Section.astro";
---

<Section name="about" showHeading={true}>
  <div class="parent">
    <div class="about">
      <p class="about__paragraph animated--fade-in">
        Hi, I'm Brad, a software developer based in Australia. I enjoy building
        software applications that look great and solve real world problems.
      </p>

      <p class="about__paragraph animated--fade-in">
        As a result of my work, study & personal projects I have experience with
        a wide range of languages, frameworks and tools.
      </p>
      <TechIcons />
    </div>
    <!-- <TechIcons /> -->

    <div class="profile animated--fade-in">
      <div class="profile__img">
        <img src="./assets/me_profile.jpg" alt="ugly picture of me" />
      </div>
      <h4 class="profile__subheading">Qualifications</h4>
      <ul>
        <li><i class="fa-regular fa-dash"></i>Masters of Computer Science</li>
        <li>
          <i class="fa-regular fa-dash"></i>AWS Certified Cloud Practitioner
        </li>
        <li><i class="fa-regular fa-dash"></i>Bachelor of Business</li>
        <li><i class="fa-regular fa-dash"></i>Bachelor of Commerce</li>
      </ul>
    </div>
  </div>
</Section>

<style>
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
  }
  .about__paragraph {
    color: var(--primary-light);
    font-weight: 300;
    font-size: var(--fs-md);
    line-height: 1.5;
    margin-bottom: var(--margin-lg);
  }

  li {
    color: var(--primary-light);
    font-size: var(--fs-sm);
    margin-left: 1rem;
  }

  .fa-dash {
    color: var(--secondary);
    margin-right: 1rem;
  }

  .about__link {
    color: var(--secondary);
    text-decoration: none;
  }

  .about__link:hover {
    text-decoration: underline;
  }

  .profile {
    padding: 3rem 2rem 2rem 2rem;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 4rem auto;
    width: 100%;
    min-width: 30rem;
    max-width: 43rem;
    background-image: var(--gradient-primary);
  }

  .profile__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto 0;
    top: -6rem;
    border: solid 3px var(--secondary);
    overflow: hidden;
    object-fit: contain;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: var(--margin-md);
  }

  .profile__img img {
    position: relative;
    height: 130%;
    width: 130%;
    bottom: 20px;
    object-fit: cover;
  }

  .profile__subheading {
    font-size: var(--fs-md);
    margin-bottom: var(--margin-md);
    color: #fff;
  }

  /* Replace $screen-md with the actual value */
  @media only screen and (min-width: 768px) {
    .about__text {
      flex: 1;
      padding-right: 4rem;
      min-width: 45rem;
    }

    .profile {
      margin: 0;
    }
  }
</style>
