---
import Section from "../shared/Section.astro";
const qualifications = [
  {
    name: "Masters of Computer Science",
  },
  {
    name: "AWS Certified Cloud Practitioner",
  },
  {
    name: "Bachelors of Business & Commerce",
  },
];
---

<Section name="about" showHeading={true}>
  <div class="parent">
    <div class="about">
      <p class="about__paragraph animated--fade-in">
        My journey into software development started in 2018 when I began
        learning to code with the intention to build some tools for my finance
        job. I enjoyed the creativity and problem solving to the extent of
        changing careers. Today I work as a full stack developer with experience
        building a variety of applications for an agency and a large enterprise.
      </p>

      <p class="about__paragraph animated--fade-in">
        Even now I still like building things and use side-projects as a way to
        improve my skills and try out newer technologies. All of my code is
        available on <a href="https://github.com/bradmeyn" target="_blank"
          >GitHub</a
        > and some live projects can also be found below.
      </p>

      <p class="about__paragraph
          animated--fade-in">
        Away from the computer I enjoy playing guitar, walking the dog and
        travelling with my wife.
      </p>
      <!-- <TechIcons /> -->
    </div>

    <div class="profile animated--fade-in">
      <div class="profile__img">
        <img src="./assets/me_profile.jpg" alt="ugly picture of me" />
      </div>

      <h4 class="profile__subheading">Brad Meyn</h4>
      <p class="attribute">
        <i class="fa-solid fa-briefcase icon"></i>
        <span>Full Stack Developer</span>
      </p>
      <p class="attribute">
        <i class="fa-solid fa-location-dot icon"></i><span
          >Newcastle, Australia</span
        >
      </p>

      <h5>Qualifications</h5>
      <ul>
        {
          qualifications.map((qualification) => (
            <li class="attribute">
              <i class="fa-solid fa-dash icon" />
              <span>{qualification.name}</span>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <style>
    a {
      font-weight: 500;
      color: var(--primary-lightest);
      text-decoration: none;
    }

    a:hover {
      color: #fff;
      box-shadow: inset 0 -2px 0 var(--secondary);
    }
    .about__paragraph {
      /* font-family: var(--font-secondary); */
      color: var(--primary-light);
      font-weight: 300;
      font-size: var(--fs-sm);
      line-height: 1.5;
      margin-bottom: var(--margin-lg);
    }

    .attribute {
      color: var(--primary-light);
      font-size: var(--fs-sm);
      margin-left: 1rem;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    .icon {
      color: var(--secondary);
      margin-right: 1rem;
      display: block;
      min-width: 1.5rem;
    }

    .parent {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 3rem;
    }

    .about {
      min-width: 35rem;
      flex: 1;
    }

    .profile {
      padding: 2rem;
      backdrop-filter: blur(30px);
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 5px;
      margin: 0 auto;
      min-width: 40rem;
      height: fit-content;
      max-width: 55rem;
      background-image: var(--gradient-primary);
    }

    .profile__img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: auto 0;
      top: -4rem;
      border: solid 3px var(--secondary);
      overflow: hidden;
      object-fit: contain;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      margin: 0 auto;
    }

    .profile__img img {
      position: relative;
      height: 130%;
      width: 130%;
      bottom: 20px;
      object-fit: cover;
    }

    h4 {
      font-size: var(--fs-lg);
      font-weight: 500;
      margin-bottom: var(--margin-sm);
      color: #fff;
    }

    h5 {
      margin-top: 1rem;
      font-size: var(--fs-md);
      font-weight: 500;
      margin-bottom: var(--margin-sm);
      color: #fff;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
    }

    /* Replace $screen-md with the actual value */
    @media only screen and (min-width: 768px) {
      .parent {
        flex-direction: row;

        gap: 2rem;
      }

      .about {
        /* flex-grow: 1; */
      }

      .profile {
        min-width: 33rem;
      }
    }
  </style>
</Section>
