---
import Section from "../shared/Section.astro";
---

<Section name="contact">
  <h2 class="animated--fade-in">Contact</h2>

  <p class="animated--fade-in">
    If you have any enquiries please use the email below.
  </p>
  <a class="btn--contact animated--fade-in" href="mailto:bradjmeyn@gmail.com">
    <span>Email</span><i class="fas fa-paper-plane"></i>
  </a>
</Section>

<style>
  h2 {
    font-size: var(--hs-lg);
    margin-bottom: var(--margin-xl);
    color: #ffffff;
    text-align: center;
    position: relative;
  }

  h2::after {
    text-align: center;
    position: absolute;
    content: "";
    width: 5rem;
    top: 6rem;
    height: 5px;
    border-radius: 0 1000px 1000px 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary);
  }

  .contact__content {
    margin: 0 auto;
    max-width: 55rem;
  }

  .btn--contact {
    border-radius: 50px;
    text-align: center;
    font-family: var(--font-primary);
    text-decoration: none;
    cursor: pointer;
    padding: 0.8rem 2rem;
    transition: all 0.3s ease-in-out;
    width: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    font-size: var(--hs-sm);
    background-color: var(--secondary);
    color: #ffffff;
    background-size: 200% auto;
    background-image: var(--gradient-secondary);
    transition: all 0.3s ease-in-out;
  }

  i {
    position: relative;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
    font-size: var(--hs-xs);
  }

  p {
    color: var(--primary-lightest);
    font-size: var(--fs-md);
    line-height: 1.5;
    text-align: center;
    padding-bottom: var(--margin-xl);
  }

  @media (hover: hover) and (pointer: fine) {
    .btn--contact:hover,
    .btn--contact:focus {
      background-position: right center;
      color: #ffffff;
      text-decoration: none;
    }

    .btn--contact:hover i,
    .btn--contact:focus i {
      transform: translate(7px, -7px) rotate(30deg);
    }
  }
</style>
