---
import Section from "../shared/Section.astro";
---

<Section name="contact">
  <h2 class="animated--fade-in">Get in touch</h2>

  <p class="animated--fade-in">
    If you have any enquiries please message me via LinkedIn.
  </p>
  <a
    class="btn animated--fade-in"
    target="_blank"
    href="https://www.linkedin.com/in/bradmeyn/"
  >
    <span>Message</span><i class="fas fa-paper-plane icon"></i>
  </a>
</Section>

<style>
  h2 {
    text-align: center;
  }

  h2::after {
    content: "Get in touch";
    transform: translateX(-50%);
    left: calc(50% + 0.1rem);
  }

  h2::before {
    transform: translateX(-50%);
    left: 50%;
  }

  .contact__content {
    margin: 0 auto;
    max-width: 55rem;
  }

  .btn {
    color: #ffffff;
    background-image: var(--gradient-secondary);
    background-size: 200% auto;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.6rem 1.4rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--sp-sm);
    margin: 0 auto;
  }

  .icon {
    transition: transform 0.3s ease;
    font-size: var(--fs-md);
  }

  p {
    text-align: center;
    margin-bottom: var(--sp-xl);
  }

  @media (hover: hover) and (pointer: fine) {
    .btn:hover,
    .btn:focus {
      background-position: right center;
    }

    .btn:hover .icon,
    .btn:focus .icon {
      transform: translate(7px, -7px) rotate(30deg);
    }
  }
</style>
