---
import Section from "../shared/Section.astro";
---

<Section name="contact">
  <h2 class="animated--fade-in">Contact</h2>

  <p class="animated--fade-in">
    If you have any enquiries please use the email below.
  </p>
  <a class="btn animated--fade-in" href="mailto:bradjmeyn@gmail.com">
    <span>Email</span><i class="fas fa-paper-plane icon"></i>
  </a>
</Section>

<style>
  h2 {
    font-size: var(--fs-xl);
    margin-bottom: var(--margin-xl);
    color: #ffffff;
    text-align: center;
    position: relative;
  }

  h2::after {
    text-align: center;
    position: absolute;
    content: "";
    width: 5rem;
    top: 6rem;
    height: 5px;
    border-radius: 0 1000px 1000px 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary);
  }

  .contact__content {
    margin: 0 auto;
    max-width: 55rem;
  }

  .btn {
    color: #ffffff;
    background-image: var(--gradient-secondary);
    background-size: 200% auto;
    border-radius: 50px;
    text-decoration: none;
    font-size: var(--fs-md);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: 0.7rem 2rem;
  }

  .icon {
    transition: transform 0.3s ease;
  }

  p {
    color: var(--primary-light);
    font-size: var(--fs-md);
    line-height: 1.5;
    text-align: center;
    padding-bottom: var(--margin-xl);
  }

  @media (hover: hover) and (pointer: fine) {
    .btn:hover,
    .btn:focus {
      background-position: right center;
    }

    .btn:hover .icon,
    .btn:focus .icon {
      transform: translate(7px, -7px) rotate(30deg);
    }
  }
</style>
