---
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="antialiased font-mono">
    <div class="flex flex-col min-h-screen bg-ui-900 text-white">
      <Header />
      <div class="flex-grow">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
