---
const today = new Date();
---

<footer>
  <div class="container">
    <div class="flex justify-center py-6">
      <p class="text-sm">
        &#x24B8; Copyright {today.getFullYear()} Brad Meyn. All rights reserved.
      </p>
    </div>
  </div>
</footer>
