---
import BaseLayout from "../components/layouts/BaseLayout.astro";
import IconNav from "../components/IconNav.astro";
import { projects } from "../data/projects";
import Project from "../components/Project.astro";
import Badge from "../components/Badge.astro";

const stack = [
  "Typescript",
  "Python",
  "React",
  "Nextjs",
  "Node",
  "Django",
  "Sveltekit",
  "Tailwind",
  "Astro",
  "PostgreSQL",
  "Prisma",
  "Drizzle",
];
---

<BaseLayout>
  <main class="container max-w-[600px]">
    <section class="mt-10 py-2">
      <h1
        class="animate-[fadeDown_0.6s_ease-in-out_forwards] opacity-0 font-extrabold"
      >
        <span> Hi, I'm </span><span
          class="relative after:content-['Brad.'] after:absolute after:top-[8px] after:right-[5px] after:z-[-1] after:text-transparent after:bg-gradient-to-r after:from-orange-600 after:to-rose-600 after:bg-clip-text"
          >Brad.</span
        >
      </h1>

      <div class="animate-[fadeUp_0.6s_ease-in-out_forwards_0.5s] opacity-0">
        <IconNav />
      </div>

      <p class="animate-[fadeUp_0.6s_ease-in-out_forwards_0.6s] opacity-0">
        I'm a full-stack software developer with a Masters of Computer Science.
      </p>
    </section>

    <section
      class="py-2 animate-[fadeUp_0.6s_ease-in-out_forwards_0.7s] opacity-0"
    >
      <h2>Stack</h2>
      <div class="flex gap-2 flex-wrap mb-4">
        {stack.map((tech) => <Badge name={tech} />)}
      </div>
    </section>

    <section
      class="py-2 animate-[fadeUp_0.6s_ease-in-out_forwards_0.8s] opacity-0"
    >
      <h2>Projects</h2>
      <div class="space-y-8">
        {projects.map((project) => <Project {project} />)}
      </div>
    </section>
  </main>
</BaseLayout>
