---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/hero/Hero.astro";
import About from "../components/sections/About.astro";
import Projects from "../components/sections/projects/Projects.astro";
import Contact from "../components/sections/Contact.astro";
---

<BaseLayout>
  <main>
    <Hero />
    <About />
    <Projects />
    <Contact />
  </main>
</BaseLayout>
