---
import PageLayout from "@/components/common/page-layout.astro";
import ProjectsSection from "@/components/home/projects-section.astro";
import PostsSection from "@/components/home/posts-section.astro";
import ContactSection from "@/components/home/contact-section.astro";
import HeroSection from "@/components/home/hero-section.astro";
import AboutSection from "@/components/home/about-section.astro";
---

<PageLayout>
  <!-- Background Pattern -->

  <main class="container space-y-20">
    <HeroSection />
    <AboutSection />
    <ProjectsSection />
    <PostsSection />
    <ContactSection />
  </main>
</PageLayout>
