---
import SocialLinks from "@/components/social-links.astro";
import { Image } from "astro:assets";
import CartoonImage from "public/assets/cartoon-brad.png";
---

<section class="flex items-center justify-center text-center">
  <div class="flex gap-6 sm:gap-8 lg:gap-10 flex-col max-w-4xl mx-auto">
    <!-- Introduction and Main Heading -->
    <div class="space-y-6 sm:space-y-8">
      <h1 class="space-y-2 sm:space-y-4">
        <span class="title block">Software Developer</span>
      </h1>
    </div>

    <figure
      class="rounded-xl opacity-0 animate-fade-down mx-auto overflow-hidden [animation-delay:0.2s]"
    >
      <Image
        loading={"eager"}
        src={CartoonImage}
        alt="Cartoon illustration of Brad and his dog"
        width="800"
        height="800"
      />
    </figure>

    <!-- Social Links -->
    <div
      class="animate-fade-down opacity-0 [animation-delay:0.2s] [animation-fill-mode:forwards]"
    >
      <SocialLinks />
    </div>
  </div>
</section>
