<button class="hamburger">
  <div class="hamburger__line"></div>
  <div class="hamburger__line"></div>
  <div class="hamburger__line"></div>
</button>

<style is:global>
  .hamburger {
    z-index: 1000;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    background-color: transparent;
    animation: fadeDown 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
  }

  .hamburger__line {
    background-color: var(--primary-light);
    height: 2px;
    width: 25px;
    margin: 5px 0;
    transition: 0.2s ease-in-out;
  }

  .navbar--active .hamburger__line:nth-child(1) {
    transform: translatey(7px) rotate(45deg);
    background-color: var(--secondary);
  }

  .navbar--active .hamburger__line:nth-child(2),
  .navbar--active .hamburger:hover .hamburger__line:nth-child(2) {
    background: rgba(0, 0, 0, 0);
  }

  .navbar--active .hamburger__line:nth-child(3) {
    transform: translatey(-7px) rotate(-45deg);
    background-color: var(--secondary);
  }

  .navbar--active .hamburger:hover .hamburger__line {
    background-color: var(--secondary);
  }

  @media (hover: hover) and (pointer: fine) {
    .hamburger:hover .hamburger__line {
      background-color: var(--secondary);
    }
  }

  /* DESKTOP------------------------------------------------------------ */

  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }
</style>
