---
import Navbar from "./Navbar.astro";
import HeaderLogo from "./HeaderLogo.astro";
import Hamburger from "./Hamburger.astro";
import Container from "../shared/Container.astro";
---

<header>
  <div>
    <Container>
      <!-- <HeaderLogo />
      <Navbar />
      <Hamburger /> -->
    </Container>
  </div>
</header>

<style>
  header {
    width: 100%;
  }
  /* header {
    /* position: absolute; */
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: solid 1px red;
  } */

  /* Desktop */
  @media only screen and (min-width: 768px) {
    div {
      align-items: center;
      transition: none;
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>
