<a href="/">
  <span class="logo">BM.</span>
</a>

<style>
  a {
    text-decoration: none;
  }

  .logo {
    text-decoration: none;
    font-family: var(--font-body);
    font-weight: 800;
    font-size: var(--fs-lg);
    display: flex;
    align-items: center;
    color: var(--secondary);
    order: -1;
    animation: fadeDown 1s;
    opacity: 0;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    letter-spacing: 2px;
  }

  .logo::before {
    position: absolute;
    content: "BM.";
    color: var(--text-lightest);
    left: 3px;
    top: 2px;
  }
</style>
