---
const { name } = Astro.props;
const svgPath = `/assets/svg/${name.toLowerCase()}.svg`;
---

<span
  class="text-sm rounded-full p-1 px-2 flex gap-2 items-center relative border border-zinc-700 bg-zinc-800"
>
  <img src={svgPath} alt="${name}" />
  <span>{name}</span>
</span>
