---
import { Prism } from "@astrojs/prism";

interface Props {
  language?: string;
  code: string;
}

const { language = "plaintext", code } = Astro.props;
---

<div class="rounded bg-zinc-800 border border-zinc-600 text-sm mb-4 pb-4">
  <div
    class="py-2 px-4 border-b border-b-zinc-600 flex justify-between items-center"
  >
    <span class="language-tag">{language}</span>
    <button
      class="copy-button border border-zinc-700 hover:bg-zinc-700 transition-colors duration-200 rounded px-2 py-1 flex items-center"
      aria-label="Copy code to clipboard"
    >
      <i class="fa-regular fa-copy"></i>
    </button>
  </div>
  <code class="block max-h-96 overflow-auto">
    <Prism lang={language} code={code} />
  </code>
</div>
