---
const { name } = Astro.props;
const svgPath = `/assets/svg/${name.toLowerCase()}.svg`;
---

<div class="flex items-center gap-2 card">
  <img class="size-6" src={svgPath} alt="${name}" loading="lazy" />
  <span class="text-xl">{name}</span>
</div>
