---
import { externalLinks } from "../constants";
---

<nav>
  <ul class="flex gap-4 items-center text-zinc-400 mb-4">
    {
      externalLinks.map((link, i) => (
        <li>
          <a
            aria-label={`Link to Brad Meyn's ${link.name}`}
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-xl block hover:text-white transition-colors duration-300"
          >
            <i class={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</nav>
