---
const { href } = Astro.props;
---

<a
  {href}
  class="group block py-2 px-4 hover:bg-ui-800/50 transition-all duration-300 w-full rounded-lg -mx-4 cursor-pointer"
>
  <article class="flex justify-between items-start gap-4">
    <div class="flex-1">
      <slot />
    </div>

    <div class="text-ui-500 group-hover:text-accent transition-colors">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="transform group-hover:translate-x-1 transition-transform"
      >
        <path d="M5 12h14"></path>
        <path d="m12 5 7 7-7 7"></path>
      </svg>
    </div>
  </article>
</a>
