---
type Props = {
  href: string;
  text: string;
};

const { href, text } = Astro.props;
---

<a
  href={href}
  class="flex w-fit mx-auto text-center items-center gap-2 text-ui-400 hover:text-white transition-all duration-300 group border border-ui-700/50 hover:border-primary-700 rounded-full px-4 py-2"
>
  <span class="font-medium">{text}</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="transform transition-all duration-300 group-hover:text-primary-700 group-hover:translate-x-1 size-5"
  >
    <path d="M5 12h14"></path>
    <path d="m12 5 7 7-7 7"></path>
  </svg>
</a>
