---
import LinkCard from "./LinkCard.astro";
const { post } = Astro.props;
---

<LinkCard href={`/posts/${post.slug}`}>
  <h3 class="mb-2 heading-card">
    {post.data.title}
  </h3>
  <time
    datetime={post.data.date.toISOString()}
    class="text-xs text-ui-400 mb-2 block"
  >
    {
      new Date(post.data.date).toLocaleDateString("en-US", {
        month: "short",
        day: "numeric",
        year: "numeric",
      })
    }
  </time>
</LinkCard>
