---
import LinkCard from "@/components/link-card.astro";

const { title, description, link } = Astro.props.project;
---

<LinkCard href={link}>
  <h3 class="heading-card">
    {title}
  </h3>
  <p class="max-w-lg text-ui-400">
    {description}
  </p>
</LinkCard>
