---
import LinkCard from "./LinkCard.astro";

const { title, description, link } = Astro.props.project;
---

<LinkCard href={link}>
  <h3 class="heading-card">
    {title}
  </h3>
  <p class="max-w-lg text-sm text-zinc-400">
    {description}
  </p>
</LinkCard>
