---
import LinkCard from "./LinkCard.astro";

const { title, description, link } = Astro.props.project;
---

<LinkCard href={link}>
  <h3
    class="mb-3 group-hover:underline underline-offset-4 transition-all duration-500 decoration-accent"
  >
    {title}
  </h3>
  <p class="text-sm max-w-md">
    {description}
  </p>
</LinkCard>
