---
import Header from "../components/layout/header/Header.astro";
import Footer from "../components/layout/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZLX4826PK"
    ></script><script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YZLX4826PK");
    </script></head
  >
  <!-- Google tag (gtag.js) -->

  <!-- ts -->

  <body>
    <div class="flex flex-col min-h-screen">
      <Header />
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>

    <script>
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <script src="../scripts/index.js"></script>
  </body>
</html>
