---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import Header from "../components/header/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div>
      <Header />
      <slot />
      <Footer />
    </div>

    <script>
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <script src="../scripts/index.js"></script>
  </body>
</html>
