---
import Section from "../../shared/Section.astro";
import Project from "./Project.astro";
import { projects } from "../../../data/projects";
---

<Section name="projects">
  <h2 class="animated--fade-in">Projects</h2>
  <div>
    {projects.map((project) => <Project {project} />)}
  </div>
</Section>

<style>
  h2 {
    text-align: center;
  }

  h2::after {
    content: "Projects";
    transform: translateX(-50%);
    left: calc(50% + 0.1rem);
  }

  h2::before {
    transform: translateX(-50%);
    left: 50%;
  }

  div {
    gap: 4rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
</style>
