---
import Section from "../../shared/Section.astro";
import FeaturedProject from "./FeaturedProject.astro";
import Project from "./Project.astro";
import { projects } from "../../../data/projects";
---

<Section name="projects">
  <h2 class="animated--fade-in">Projects</h2>

  <div class="projects">
    <div class="projects__featured">
      {
        projects
          .filter((project) => project.featured)
          .map((project) => <FeaturedProject {project} />)
      }
    </div>

    <div class="projects__non-featured">
      {
        projects
          .filter((project) => !project.featured)
          .map((project) => <Project {project} />)
      }
    </div>
  </div>
</Section>

<style>
  h2 {
    text-align: center;
  }

  h2::after {
    content: "Projects";
    transform: translateX(-50%);
    left: calc(50% + 0.1rem);
  }

  h2::before {
    transform: translateX(-50%);
    left: 50%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .projects__featured,
  .projects__non-featured {
    gap: 4rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
</style>
